
.filter-more{
  padding-top:6px;
  color:#0067f1;
  display: flex;
  justify-content: center;
  align-items: start;
  cursor: pointer;
  margin-left:20px;
}

.modal-footer{
  width:100%;
  display:flex;
  justify-content:flex-end;
}


.mno-filter-modal .ant-form-item-control {
  width:100px;
  
}