.toolbar {
  height: 80px;
  padding: 16px 0;
  display: flex;
}

.toolbar .ant-tabs-nav::before {
  border-bottom: none !important;
}

/** 2 */
.mno-pagination-test {
  position: relative;
  height: 40px;
  margin-top:18px;
}

.mno-pagination-test .pre-btn {
  position: absolute;
  right: 490px;
  width: 33px !important;
  top: 10%;
  border-radius: 6px;
}

.mno-pagination-test .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.mno-pagination-test .ant-pagination-prev {
  position: absolute;
  right: 455px;
  top: 11%;
}

.mno-pagination-test .ant-pagination-next {
  position: absolute;
  right: 280px;
  top: 11%;
}

.mno-pagination-test .next-btn {
  position: absolute;
  right: 250px;
  width: 33px !important;
  top: 10%;
  border-radius: 6px;
}

.mno-pagination-test .ant-pagination-simple-pager {
  width:150px;
  position: absolute;
  text-align: center;
  right: 305px;
  top: 10%;
}

.mno-pagination-test .ant-pagination-total-text {
  position: absolute;
  width:100px;
  text-align: center;
  right: 150px;
  top: 3%;
  margin:0;
}

.mno-pagination-test .ant-pagination-options {
  position: absolute;
  right: 40px;
  top: -1%;
}

.mno-pagination-test .reset-btn {
  position: absolute;
  right: 0;
  top: -1%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.mno-pagination-test .ant-pagination-slash {
  display: none;
}

