.toolbar {
  height: 80px;
  padding: 16px 0;
  display: flex;
  
}

.toolbar .ant-tabs-nav::before{
  border-bottom: none !important;
}

.mno-pagination{
  display: flex;
  align-items: center;
  padding-top:15px;
  justify-content: flex-end;
}

.mno-pagination .ant-btn:hover{
  color: #4A70FF !important;
}

.mno-pagination .ant-btn{
  display: flex;
  align-items: center;
  justify-content: center;

}